@charset "utf-8";

html{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    background-color: #eff8fa;

    font-family: Barlow, Noto Sans JP, sans-serif;
    font-size: 10px;
}

body{
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    margin: 1rem;

    display: grid;
    grid-template: 
        "header" 10rem
        "main" 1fr
        / 1fr;
}

/* ======================================== */

header{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: header;
    display: grid;
    grid-template:
        "settings title version clock" 1fr
        / 10rem 6fr 1.5fr 3fr;

    background-color: #ffffff;
    
    color: #555555;
}

/* ======================================== */

#settingOpen{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;

    grid-area: settings;

    background-color: #efefef;

    border: none;
    
    color: #555555;
    font-size: 3.5rem;
    text-align: center;
}

#settingOpen:hover{
    background-color: #f8f8f8;
}

#settingOpen:active{
    background-color: #ffffff;
}

/* ======================================== */

#dialog{
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    margin: auto;
    padding: 0;

    display: none;

    position: fixed;
    z-index: 1;

    background-color: #ffffff33;

    border: none;
}

#dialog.active{
    display: flex;
}

#settings{
    width: 30%;
    height: 33rem;

    margin: auto;
    padding: 2rem;

    display: grid;
    grid-template: 
        "gameTimer" 1fr
        "halfTimer" 1fr
        "robotTimer" 1fr
        "blueTeam" 1fr
        "yellowTeam" 1fr
        "close" 0.5fr
        / 1fr;

    background: #ffffff40;

    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff;
}

/* ======================================== */

.timerSetting{
    width: 100%;
    height: 5rem;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template: 1fr / 2fr 1fr 0.5fr 1fr 0.5fr;
}

.timerSetting p{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;

    font-family: Barlow, Noto Sans JP, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 5rem;
    text-align: center;
}

.timerSetting input{
    width: calc(90% - 2rem);
    height: 100%;

    margin: auto;
    padding: 0 1rem;

    display: block;

    border: solid 1px #bbbbbb;
    border-radius: 0.75rem;

    font-family: Barlow, Noto Sans JP, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 5rem;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.teamSetting{
    width: 100%;
    height: 5rem;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template: 1fr / 2fr 3fr;
}

.teamSetting p{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;

    font-family: Barlow, Noto Sans JP, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 5rem;
    text-align: center;
}

.teamSetting input{
    width: calc(90% - 2rem);
    height: 100%;

    margin: auto;
    padding: 0 1rem;

    display: block;

    border: solid 1px #bbbbbb;
    border-radius: 0.75rem;

    font-family: Barlow, Noto Sans JP, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 5rem;
    text-align: center;
}

#settingClose{
    width: 3rem;
    height: 3rem;

    margin: auto;
    padding: 0;

    display: block;

    background-color: #ffffff;

    border: solid 1px #bbbbbb;
    border-radius: 0.75rem;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
}

#settingClose:hover{
    background-color: #f8f8f8;
}

#settingClose:active{
    background-color: #f0f0f0;
}

/* ======================================== */

#version{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: version;

    display: block;

    background-color: #efefef;

    font-family: Barlow, sans-serif;
    font-size: 3rem;
    line-height: 10rem;
    text-align: center;
}

/* ======================================== */

#title{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: title;

    display: block;

    background-color: #efefef;

    font-family: Barlow, sans-serif;
    font-size: 3rem;
    line-height: 10rem;
    text-align: center;
}

/* ======================================== */

#clock{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: clock;

    display: grid;
    grid-template: 1fr / 1.25fr 1fr;

    background-color: #efefef;  
}

#clockDate{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    
    display: block;

    font-family: Barlow, sans-serif;
    font-size: 2rem;
    line-height: 10rem;
    text-align: center;
}

#clockTime{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;

    font-family: Barlow, sans-serif;
    font-size: 3.5rem;
    line-height: 10rem;
    text-align: center;
}

/* ======================================== */

main{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: main;

    display: grid;
    grid-template: 
        "blueTeam vs yellowTeam timer1" 1fr
        "blueScore now yellowScore timer2" 1fr
        "blueScore gameTimer yellowScore timer3" 1fr
        "blueScore gameTimerEdit yellowScore timer4" 1fr
        "blueScoreEdit middle yellowScoreEdit timerReset" 0.75fr
        / 2fr 1fr 2fr 1.5fr;

    background-color: #ffffff;
}

/* ======================================== */

#teamNameBlueContainer{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    
    grid-area: blueTeam;

    background-color: #aaaaff;
}

#vsContainer{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    display: flex;

    grid-area: vs;

    background-color: #ffffff;
}

#vs{
    width: 100%;

    margin: auto;
    padding: 0;

    font-weight: 400;
    font-size: 4rem;
    text-align: center;
}

#teamNameYellowContainer{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    display: flex;
    
    grid-area: yellowTeam;

    background-color: #ffffaa;
}

#teamNameBlue, #teamNameYellow{
    width: 100%;

    margin: auto;
    padding: 0;

    font-family: Barlow, Noto Sans JP, sans-serif;
    font-weight: 500;
    font-size: 5rem;
    text-align: center;
}

/* ======================================== */

#blueScoreContainer{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;

    grid-area: blueScore;

    background-color: #e0e0ff;
}

#yellowScoreContainer{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;

    grid-area: yellowScore;

    background-color: #ffffe0;
}

#blueScore, #yellowScore{
    width: 100%;

    margin: auto;
    padding: 0;

    font-family: Barlow, sans-serif;
    font-weight: 300;
    font-size: 30rem;
    font-variant-numeric: tabular-nums;
    text-align: center;
}

/* ======================================== */

#now{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;

    grid-area: now;

    background-color: #ffffff;

    border: none;

    font-family: Barlow, Noto Sans JP, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

#now:hover{
    background-color: #f8f8f8;
}

#now:active{
    background-color: #f0f0f0;
}

/* ======================================== */

#gameTimerContainer{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;

    grid-area: gameTimer;

    background-color: #ffffff;
}

#gameTimer{
    width: 100%;

    margin: auto;
    padding: 0;

    font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 5.5rem;
    font-variant-numeric: tabular-nums;
    text-align: center;
}

#gameTimerEdit{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: gameTimerEdit;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#gameTimerEdit button{
    width: 100%;

    margin: auto;
    padding: 0;

    background-color: #ffffff;

    border: none;

    font-family: Barlow, sans-serif;
    font-size: 2.5rem;
    font-variant-numeric: tabular-nums;
    text-align: center;
}

#gameTimerEdit button:hover{
    background-color: #f8f8f8;
}

#gameTimerEdit button:active{
    background-color: #f0f0f0;
}

#gameTimerStart{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;

    &.active{
        display: none;
    }
}

#gameTimerStop{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: none;

    &.active{
        display: block;
    }
}

#gameTimerReset{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;
}

/* ======================================== */

#blueScoreEdit{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: blueScoreEdit;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#yellowScoreEdit{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: yellowScoreEdit;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#blueScoreEdit button, #yellowScoreEdit button{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: block;

    background-color: #ffffff;

    border: none;

    font-family: Barlow, sans-serif;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

#blueScoreEdit button:hover, #yellowScoreEdit button:hover{
    background-color: #f8f8f8;
}

#blueScoreEdit button:active, #yellowScoreEdit button:active{
    background-color: #f0f0f0;
}

/* ======================================== */

#timer1Container{
    grid-area: timer1;
}

#timer2Container{
    grid-area: timer2;
}

#timer3Container{
    grid-area: timer3;
}

#timer4Container{
    grid-area: timer4;
}

/* ======================================== */

.timer{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template:
        "num time start reset" 1fr
        / 0.5fr 1.5fr 0.75fr 0.75fr;
}

.num{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;

    grid-area: num;
}

.num p{
    margin: auto;

    display: block;

    color: #bbbbbb;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-size: 4rem;
}

.num.active p{
    color: #000000;
}

.num.finish p{
    color: #ee2222;
}

.time{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;

    grid-area: time;
}

.time p{
    margin: auto;

    display: block;

    color: #bbbbbb;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-size: 4rem;
    font-variant-numeric: tabular-nums;
}

.time p.active{
    color: #000000;
}

.time p.finish{
    color: #ee2222;
}

.timerStart{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: start;

    background-color: #ffffff;

    border: none;

    font-family: Barlow, sans-serif;
    font-size: 1.75rem;
}

.timerReset{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: reset;

    background-color: #ffffff;

    border: none;

    font-family: Barlow, sans-serif;
    font-size: 1.75rem;
}

.timerStart:hover, .timerReset:hover{
    background-color: #f8f8f8;
}

.timerStart:active, .timerReset:active{
    background-color: #f0f0f0;
}

/* ======================================== */

#allReset{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    grid-area: timerReset;

    background-color: #ffffff;

    border: none;

    font-family: Barlow, sans-serif;
    font-size: 3rem;
}

#allReset:hover{
    background-color: #f8f8f8;
}

#allReset:active{
    background-color: #f0f0f0;
}

/* ======================================== */

@media screen and (max-width: 1280px) {
    html{
        width: 100dvw;
        height: 100dvh;

        color: #000;
        font-size: 6px;
    }

    body{
        grid-template: 
            "header" 14rem
            "main" 1fr
            / 1fr;
    }
    header{
        grid-template:
            "settings title version" 4fr
            "clock clock clock" 3fr
            / 8rem 4.5fr 1.5fr;
    }

    main{
        grid-template: 
        "blueTeam vs yellowTeam" 1fr
        "blueScore now yellowScore" 1fr
        "blueScore gameTimer yellowScore" 1fr
        "blueScore gameTimerEdit yellowScore" 1fr
        "blueScoreEdit middle yellowScoreEdit" 0.75fr
        "timer1 timerReset timer2" 0.75fr
        "timer3 timerReset timer4" 0.75fr
        / 2fr 1fr 2fr ;
    }
    
    #version{
        font-size: 2.5rem;
        line-height: 8rem;
    }
    
    #title{
        font-size: 2.5rem;
        line-height: 8rem;
    }
    
    #clockDate{
        font-size: 2rem;
        line-height: 6rem;
    }
    
    #clockTime{
        font-size: 2rem;
        line-height: 6rem;
    }

    #teamNameBlue, #teamNameYellow, #vs{
        font-size: 3.5rem;
    }

    #gameTimer{
        font-size: 4.5rem;
    }

    #blueScore, #yellowScore{
        font-size: 20rem;
    }

    #allReset{
        font-size: 2.5rem;
    }

    #allReset:active{
        background-color: #f0f0f0;
    }
    
    .timer{
        grid-template:
            "num time start" 1fr
            "num time reset" 1fr
            / 0.5fr 1.5fr 0.75fr;
    }

    #settingOpen:hover, #settingClose:hover, #gameTimerEdit button:hover, #blueScoreEdit button:hover, #yellowScoreEdit button:hover, #allReset:hover{
        background-color: #ffffff;
    }
}