@charset "utf-8";

html, body{
    top: 0;
    left: 0;

    margin-top: 1vh;
    margin-left: 0.5vw;
    padding: 0;

    width: 98vw;
    height: 96vh;

    background-color: #eff8fa;

    font-family: Barlow, Noto Sans JP, Courier Prime sans-serif;
    font-size: 10px;
}










header{
    width: 100%;
    height: 12.5%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    background-color: #b6eaff;
}

header .settings{
    width: 7.5%;
    height: 100%;

    background-color: #ffffff;

    border-right: #aaaaaa 1px solid;
}

header .settings #settingOpen{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    font-size: 50px;
    color: #000000;
    text-decoration: none;
}

header .settings #settingOpen:active{
    background-color: #e0e0e0;
}

header .settings dialog{
    width: 40vw;
    height: 50vh;

    display: none;

    left: 30vw;
    top: 25vh;

    background-color: #ffffffbb;
    backdrop-filter: blur(75px);

    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: none;
    border-top: none;
    border-radius: 25px;
}

header .settings dialog.active{
    display: block;
}

header .settings dialog #settingClose{
    width: 10%;
    height: auto;

    position: absolute;

    padding: 10px;

    left: 45%;
    bottom: 3%;

    font-size: 2rem;
    line-height: 2rem;

    background-color: #ffffff;

    border-radius: 5px;
}

header .settings dialog #settingClose:active{
    background-color: #e0e0e0;
}

/*--------------------------------------------------*/

dialog .timerSettings{
    width: 80%;
    height: 10%;

    position: absolute;

    left: 10%;
    top: 5%;
}

.timerSettings .timerSetting{
    width: 100%;
    height: 5rem;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 2fr 0.75fr 0.5fr 0.75fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0;

    margin-bottom: 2rem;

    padding-left: 4rem;
    padding-right: 4rem;

    font-size: 1.75rem;
    line-height: 5rem;

    background-color: #ffffff;

    border-radius: 5px;
}

.timerSettings .timerSetting p{
    display: block;
    width: 100%;
    height: 100%;

    font-size: 2.5rem;
    line-height: 5rem;

    margin-right: 5%;
}

.timerSettings .timerSetting input:nth-of-type(1){
    display: block;
    width: 100%;
    height: 100%;

    padding: 0 2rem;

    font-size: 3rem;
    text-align: right;

    border-bottom: #aaaaaa 2px solid;
}

.timerSettings .timerSetting input:nth-of-type(2){
    display: block;
    width: 100%;
    height: 100%;

    padding: 0 2rem;

    font-size: 3rem;
    text-align: right;

    border-bottom: #aaaaaa 2px solid;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#blueTeamSetting, #yellowTeamSetting{
    width: 100%;
    height: 5rem;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0;

    margin-bottom: 2rem;

    padding-left: 4rem;
    padding-right: 4rem;

    font-size: 1.75rem;
    line-height: 5rem;

    background-color: #ffffff;

    border-radius: 5px;
}

#yellowTeamSetting p, #blueTeamSetting p{
    display: block;
    width: 100%;
    height: 100%;

    font-size: 2.5rem;
    line-height: 5rem;

    margin-right: 5%;
}

#yellowTeamSetting input, #blueTeamSetting input{
    display: block;
    width: 100%;
    height: 100%;

    padding: 0 2rem;

    font-size: 3rem;
    text-align: center;

    border-bottom: #aaaaaa 2px solid;
}

/*--------------------------------------------------*/

header .startTime{
    width: 17.5%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    background-color: #ffffff;

    border-left: #aaaaaa 1px solid;
}

header .startTime #startTime{
    font-size: 4rem;
    font-variant-numeric: tabular-nums;
}

header .title{
    width: 50%;
    height: 100%;

    background-color: #e0e0e0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    font-size: 3.5rem;
    font-family: Noto Sans JP Medium;
}

header .clock{
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;
}

header .clock .clock-date{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;

    font-size: 2.5rem;
}

header .clock .clock-time{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;

    font-size: 4.5rem;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
}










main{
    width: 100%;
    height: 87.5%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;

    background-color: #ffffff;
}










.left{
    width: 75%;
    height: 100%;
}

.left .upper{
    width: 100%;
    height: 20%;
}

.left .upper .teamNames{
    width: 100%;
    height: 100%;

    background-color: #b6bdff;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    text-align: center;
}

#teamNames-left{
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    background-color: #a7a8ff;

    font-weight: bold;
    font-size: 5rem;
}

#teamNames-middle{
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    background-color: #ffffff;

    font-size: 4rem;
}

#teamNames-right{
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    background-color: #ffe694;

    font-weight: bold;
    font-size: 5rem;
}

.teamNames small{
    font-weight: normal;
    font-size: 3rem;
}










.left .middle{
    width: 100%;
    height: 65%;
}

.left .middle .scores{
    width: 100%;
    height: 100%;

    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
}

#leftScore{
    width: 40%;
    height: 100%;

    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    font-size: 30rem;
    letter-spacing: 30px;
    font-variant-numeric: tabular-nums;

    background-color: #d0d1ff;

    
}

#scores-middle{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    

    font-size: 2rem;
    font-weight: bold;

    background-color: #ffffff;
}

#half{
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    font-size: 4rem;

    cursor: pointer;

    background-color: #ffffff;
}

#half:active{
    background-color: #e0e0e0;
}

#timer-main{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    font-size: 8rem;

    font-variant-numeric: tabular-nums;
}

#timer-main.alert{
    color: #d41b1b
}

#scores-middle .buttons{
    width: 100%;
    height: 25%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;

    font-size: 4rem;
}

#start{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    background-color: #ffffff;

    text-decoration: none;
    color: #000000;
    
    border-right: #aaaaaa 1px solid;

    cursor: pointer;
}

#start.active{
    display: none;
}

#stop{
    width: 50%;
    height: 100%;
    
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    background-color: #ffffff;

    text-decoration: none;
    color: #000000;
    
    border-right: #aaaaaa 1px solid;

    cursor: pointer;
}

#stop.active{
    display: flex;
}

#reset{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    background-color: #ffffff;

    text-decoration: none;
    color: #000000;
    
    border-left: #aaaaaa 1px solid;

    cursor: pointer;
}

#stop:active, #start:active, #reset:active{
    background-color: #e0e0e0;
}

#rightScore{
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    
    font-size: 30rem;
    letter-spacing: 30px;
    font-variant-numeric: tabular-nums;

    background-color: #fff1c1;
}










.left .bottom{
    width: 100%;
    height: 15%;
}

.left .bottom .scoreManage{
    width: 100%;
    height: 100%;

    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
}

#scoreManage-left{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 3.5rem;

    vertical-align: middle;
    letter-spacing: 10px;
}

#scoreManage-middle{
    width: 20%;
    height: 100%;
}

#scoreManage-right{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 3.5rem;

    letter-spacing: 10px;
}

#scoreMinusLeft{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    border-right: #aaaaaa 1px solid;
    color: #000000;

    cursor: pointer;
}

#scoreMinusLeft:active{
    background-color: #e0e0e0;
}


#scorePlusLeft{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: #aaaaaa 1px solid;

    text-decoration: none;
    color: #000000;

    cursor: pointer;
}

#scorePlusLeft:active{
    background-color: #e0e0e0;
}

#scoreMinusRight{
    width: 50%;
    height: 100%;
        
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-right: #aaaaaa 1px solid;

    text-decoration: none;
    color: #000000;

    cursor: pointer;
}

#scoreMinusRight:active{
    background-color: #e0e0e0;
}

#scorePlusRight{
    width: 50%;
    height: 100%;
        
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-left: #aaaaaa 1px solid;
    border-right: #aaaaaa 1px solid;

    text-decoration: none;
    color: #000000;

    cursor: pointer;
}

#scorePlusRight:active{
    background-color: #e0e0e0;
}









.right{
    width: 25%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
}


.element{
    width: 100%;
    height: 21.25%;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 0;
    margin: 0;
}

.element:nth-child(1){
    border-bottom: #aaaaaa 1px solid;
}


.element:nth-child(2), .element:nth-child(3), .element:nth-child(4){
    border-top: #aaaaaa 1px solid;
    border-bottom: #aaaaaa 1px solid;
}

.element:nth-child(5){
    height: 15%;

    border-top: #aaaaaa 1px solid;
    
    background-color: #e0e0e0;
}

#allreset{
    width: 100%;
    height: 100%;
    
    grid-area: 1 / 1 / 3 / 4;

    font-size: 2.5rem;

    background-color: #ffffff;

    border-left: #aaaaaa 1px solid;
}

.element .number{
    width: 100%;
    height: 100%;

    grid-area: 1 / 1 / 3 / 2;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    font-size: 5rem;

    background-color: #e0e0e0;
}

.element .number.active{
    background-color: #ffffff;
}

.element .number.active.alert{
    background-color: #ee9090;
}

.element .display{
    width: 100%;
    height: 100%;

    grid-area: 1 / 2 / 3 / 3;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    font-size: 4.5rem;
    font-variant-numeric: tabular-nums;

    background-color: #e0e0e0;
}

.element .display.active{
    background-color: #ffffff;
}

.element .display.active.alert{
    background-color: #ee9090;
}

.element .start-btn{
    width: 100%;
    height: 100%;

    grid-area: 1 / 3 / 2 / 4;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    font-size: 2.5rem;

    background-color: #ffffff;
}

.element .start-btn.active{
    background-color: #e0e0e0;
}

.element .reset-btn{
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0;

    font-size: 2.5rem;

    background-color: #ffffff;
}

.element .reset-btn:active{
    background-color: #e0e0e0;
}